{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is our home page</title>
    
    <link rel="stylesheet" herf="{% static '/style.css'}">
</head>
<body>
    <h3>Arun's Portfolio </h3>
     <div class="container">
        <h1>I'm Arun sah</h1>
        <p>Here you get your complete solution about the tech</p>

        <div class="buttons">
            <a href="projects" class="btn">View Projects</a>
            <a href="contact" class="btn">Contact</a>
        </div>
    </div>
</body>
</html>