*{
    margin: 0%;
    padding: 0%;
}

/* #box1{
    background-color: aqua;
    height: 300px;
    width: 250px;
    align-items: center;
    
    justify-content: center;
    border: dashed; */
    
}
#box2{
    background-color: blueviolet;
    
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
div{
    height: 300px;
    width: 250px;
    box-shadow: 0 4px 10px rgb(rgb(78, 75, 75), rgb(89, 110, 89), rgb(19, 19, 28));
    
    background-color: hotpink;
    margin: 4px;
}

