<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Index{% endblock %} </title>
    <h1> Home page. </h1>
</head>

<body>
    {% bolck content %}Welcome to home page of my site.{% endblock %}
</body>
</html>